div.login{
    display:grid;
    margin:auto;
    width:fit-content;
    border-radius: 5px;
    padding:15px 35px 15px 35px;
    box-shadow: 2px 2px 5px 2px black;
}
div.login p#heading{
    margin:0px;
}
div.login form{
    padding-top:15px;
    display:grid;
    grid-row-gap:10px;
}
div.login form input{
    height:30px;
}
div.login form input[type=submit]{
    border:none;
    outline: none;
    background-color: blue;
}